img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        height: auto;
    }
    .navbar {
        margin: 5px 0;
        font-size:18px;
        margin-right:15px;
    }
    .intro-img {
        width: 100%; /* Make image responsive */
        padding-left: 0; /* Remove padding */
    }
    .bio {
        margin-left: 0; /* Adjust margin for smaller screens */
    }
    .contact {
        flex-direction: column; /* Stack contact items vertically */
        align-items: center; /* Center align items */
    }
}
